<launch>

  #### rosrun map_server #################################################

  <node  name="map_load" pkg="map_server" type="map_server" output="screen" 
    args="$(find ustar_slam)/data/maps/map1.yaml" />

  #### publish marker_array ###############################################

  <node name="ustar_simulation" pkg="simulation" type="ustar_sim_node" output="screen" />
  
  #### model ############################################################

  <arg name="model" />

  #### robot_description ##################################################

  <param name="robot_description" textfile="$(find simulation)/urdf/robotmodel.urdf"/>

  #### publish static_transform from base_link to map #########################

  <node pkg="tf" type="static_transform_publisher" name="odom_to_map" 
    args="0.0 0.0 0.0 0.0 0.0 0.0 /odom /map 40" />

  <node name="odom_to_base_link" pkg="ustar_slam" type="odom_to_base_node" />

  #### publish state ######################################################

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  #### start rviz ##########################################################

  <node name="rviz" pkg="rviz" type="rviz"
  args="-d $(find simulation)/launch/ustar_simulation.rviz" />

</launch>
